@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap');

:root{
    font-size: 62.5%;
}

body{
    text-align: center;
    font-family: "Poppins", "Montserrat", sans-serif;
    background-color: #541482;
    color: white;
    display: grid;
    grid-template: 1fr 15fr / 1fr 10fr ;
    margin: 0;
    height: 100vh;
}

h1.title {
    grid-area: 1 / 1 / 2 / 3;
    position: relative
}

.title.material-icons {
    margin-left: 5px;
    position: absolute;
    top: 2px;

}

nav{
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

h3{
    margin-left: -20px;
    font-size: 2rem;
    position: relative;
    cursor: pointer;
}

.nav.material-icons{
    margin-left: 5px;
    position: absolute;
    top: 3px;
}

.username{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username > h1{
    display: inline;
}

.username > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    
}
.username > div > input{
    font-size: 2rem;

    margin-bottom: 0;
    background-color: inherit;
    font-family: inherit;
    color: inherit;
    font-weight: bold;
    border: none;
    text-align: center;
    outline: none;
}

.username > p{
    cursor: pointer;
}

.new-project{
    cursor: pointer;
    font-size: 1.5rem;
    border: 1px solid gray;
}

.new-project:hover{
    border: 1px solid white
}

.new-project-div{
    position: relative;
}

.new-project-input{
    background: inherit;
    font-family: inherit;
    color: white;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
}

.confirm-new-project{
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: -2px;
}

.project-title{
    font-size: 1.5rem;
}

main{
    grid-area: 2 / 2 / 3 / 3;
    border-top-left-radius: 30px;
    background-color: #191919;
    
}

.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    width: 90%;
    margin-top: 100px;
}

form > fieldset{
    border-radius: 10px;
    border: 1px solid gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

legend{
    font-size: 1.5rem;
}

label{
    font-size: 1.6rem;
}

#toDoTitle, #dueDate, #editToDoTitle, #editToDoDueDate{
    background-color: #222222;
    outline: none;
    border: 1px solid black;
    height: 25px;
    border-radius: 5px;
    color: white;
}

div > fieldset{
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
}

input[type = "radio"], div.priority, div.delete-todo{
    appearance: none;
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
}

input[type = "radio"]:hover{
    border: 1px solid white
}

input[type= "radio"]:checked{
    border: 2px solid white
}

#low-priority{
    background-color: gray;
}

#medium-priority{
    background-color: yellow;
}

#high-priority{
    background-color: red;
}

ul{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 120px;
}

li{
    list-style-type: none;
    display: grid;
    grid-template-columns: 3fr 2fr repeat(2, 1fr) 1fr;
    align-items: center;
    gap: 50px;
    width: 80%;
}

.toDoTitle{
    justify-self: baseline;
}

li > h4{
    font-size: 2rem;
}

li > p{
    font-size: 1.5rem;
}

div.todo-buttons-div{
    display: flex;
}

div.edit-todo, div.delete-todo, div.confirm-change-todo, div.cancel-change-todo{
    width: 30px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.edit-div {
    display: flex;
    gap: 30px;
}

div.edit-todo:hover, div.delete-todo:hover, div.confirm-change-todo:hover, div.cancel-change-todo:hover{
    border: 1px solid white
}